*{
	margin: 0;
	padding: 0;
}

body{
	font-size: 14px;
	line-height: 30px;
	color: #999999;
	font-family: 'helvetica', sans-serif;
}

a{
	text-decoration: none;
    color: #4f8dd6;
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
}

a:focus,
button:focus,
input:focus{
	outline: none;
}

li{
    list-style: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* Header style
---------------------------------------------*/

.container{
	width: 1170px;
	margin: 0 auto;
}

header nav.main-navigation{
	background-image: url(../images/header-bg.jpg);
	background-repeat: repeat-x;
	padding: 10px 0;
	height: 40px;
}

nav img,
nav ul,
nav ul li,
nav form,
nav button{
	float: left;
}

nav img{
	margin-top: 5px;
}

header nav ul{
	margin: 5px 0 0 100px;
}
nav ul li a{
	color: #ffffff;
	padding: 7px 15px;
}

nav ul li a:hover{
	background-color: #001639;
	border-radius: 30px;
}

header nav .btn-right{
	float: right;
    background-color: #83B104;
    color: #ffffff;
    border: 0;
    padding: 8px 15px;
    margin-top: 5px;
    border-radius: 3px;
    cursor: pointer;
}

header form{
	margin: 4px 0 0 120px;
    position: relative;
}

header form input{
	background-color: #031B3D;
    border: 1px solid #081629;
    border-radius: 30px;
    padding: 8px 20px;
    color: #ffffff;
}

header form button{
    position: absolute;
    right: 12px;
    top: 8px;
    background-color: transparent;
    border: 0;
    color: #b9b9b9;
}

.breadcrumb{
	padding: 20px 0;
}
.breadcrumb span{
	float: left;
	font-size: 24px;
	margin-right: 50px;
}
.breadcrumb ul li{
    display: inline-block;
    background-color: #DFF1FD;
    border: 1px solid #bdd9ec;
    color: #0E3360;
    line-height: 18px;
    padding: 0 5px;
    border-radius: 3px;
    position: relative;
    margin-right: 15px;
}
.breadcrumb ul li:last-child{
	margin-right: 0;
}
.breadcrumb ul li a{
	display: block;
	color: #0E3360;
}
.breadcrumb ul li:first-child::after{
	content: "\f105";
    font-family: fontawesome;
    position: absolute;
    right: -13px;
    top: 0;
}


/* header banner style
---------------------------------------------*/
.banner{
	background: url(../images/banner.jpg) 0 0 no-repeat;
    background-size: cover;
    width: 100%;
    padding: 120px 0;
    position: relative;
    overflow: hidden;
}
.banner span{
    position: absolute;
    color: #ffffff;
    text-align: center;
    top: 15px;
    right: -15px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
.banner span::before{
    content: "";
    position: absolute;
    background-color: #E63B2F;
    height: 100px;
    width: 260px;
    z-index: -1;
    right: -80px;
    top: -50px;
}
.banner span i{
	display: block;
	font-size: 18px;
}
.banner h2{
	font-size: 24px;
    margin-bottom: 10px;
}

.banner h2,
.banner p{
	color: #6a8c30;
	padding-left: 300px;
}


/*Main blog style
-------------------------------------*/
.wrapper{
    display: flex;
    flex-flow: row wrap;
    margin: 50px auto;
    
}
main{
    flex: 4;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
main article{
    width: 30%;
    margin: 0 10px 30px;
    padding: 5px;
    box-shadow: 0 0 5px 0px #c3c3c3;
    border-radius: 3px;
}

main article h2{
    font-size: 18px;
    margin: 5px 0;
    line-height: 24px;
}

main article h2,
main article p,
main article footer{
    padding: 0 15px;
}

main article footer{
    margin: 25px 0 5px;
}
main article footer ul li{
    margin-right: 20px;
    display: inline-block;
}
main article footer ul li:last-child{
    margin-right: 0;
}
main article footer i{
    margin-right: 5px;
}

/*pagination
----------------------------------*/
.pagination{
    margin: 30px auto;
}
.pagination ul{
    float: none;
}
.pagination ul li{
    margin-right: 5px;
    float: none;
    display: inline-block;
}
.pagination ul li:last-child{
    margin-right: 0;
}
.pagination ul li a{
    color: #999999;
    background-color: #EEEEEE;
    padding: 5px 8px;
    border-radius: 3px;
}

.pagination ul li a:hover{
    color: #ffffff;
    border-radius: 3px;
    background-color: #9CCC0C;
}


/*sidebar
----------------------------------*/
aside{
    flex: 1;
    padding: 0 0px 0 30px;
}
aside section{
    margin-bottom: 50px;
}
aside h2{
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 20px;
}

aside ul li a{
    font-weight: bold;
}




/*Fooer style
----------------------------------*/
.twitter-section{
    background-color: #595959;
    color: #fff;
    padding: 10px 0;
}
.twitter-section span i{
    font-size: 24px;
    margin-right: 10px;
    position: relative;
    top: 4px;
}
.twitter-section a{
    color: #9DCD10;
}

footer nav{
    text-align: center;
    padding: 12px 0;
}
footer nav ul{
    display: inline-block;
    float: none;
    text-align: center;
}
footer nav ul li{
    display: inline-block;
    float: none;
}
footer nav ul li a{
    color: #C8C8C8;
}
footer nav ul li a:hover{
    background-color: #b9b9b9;
    color: #fff;
}
footer .back-totop{
    float: right;
    cursor: pointer;
}
footer .back-totop i{
    border: 1px solid #b9b9b9;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 30px;
}